*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body{
    padding: 0;
    padding-top: 1rem;
    margin: 0;
    background-color: #EDEDED;
}

.headerbar{
    padding: 1rem;
    margin: 0;
    width: 100%;
    height: 8vh;
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlogo{
    padding-top: 2rem;
}

.headerbarmiddle{
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "YOPQ" 300;
    display: flex;
    color: #290849;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.loginbutton{
    width: 12rem;
    height: 3.5rem;
    background-color: #ECB602;
    margin-right: 5rem;
    font-family: "Lalezar", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 0;
    color: #ffffff;
    border-radius: 1.5rem;
    font-size: 2.5rem;
}

a:link{
    color:#290849;
    text-decoration: none;
}

a:visited{
    color:#290849;
    text-decoration: none;
}

/* ------------------ Konten -----------------*/

/* ------------------ Footer -----------------*/
footer{
    width: 100%;
    height: 70vh;
    background-color: #3D3D3D;
    color: #ffffff;
    font-family: "Kumbh Sans", sans-serif;
    display: flex;
}

.footerleft{
    width: 70%;
    height: 100%;
    /* background-color: red; */
    padding: 2rem;
    padding-left: 4rem;
}

.footerlinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    font-size: 1.4rem;
}

.footergianttext{
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.3rem;
    color:#ffffff; 
    margin-top: 2rem;
    flex: 1;
    overflow: visible;
    /* background-color: yellow; */
}

.footergianttext h1 {
    white-space: nowrap;
}

.footerleftsmalltext{
    margin-top: 2rem;
}

.footerright{
    padding: 2rem;
    width: 30%;
    height: 100%;
    /* background-color: yellow; */
}

.footerright img{
    width: 90%;
    height: auto;
}

