*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    padding-top: 1rem;
    margin: 0;
    background-color: #EDEDED;
}

.headerbar{
    padding: 1rem;
    margin: 0;
    width: 100%;
    height: 8vh;
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlogo{
    padding-top: 2rem;
}

.headerbarmiddle{
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "YOPQ" 300;
    display: flex;
    color: #290849;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

a:link{
    color:#290849;
    text-decoration: none;
}

a:visited{
    color:#290849;
    text-decoration: none;
}

.profile-icon {
    width: 40px;
    height: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    margin-right: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 40px;
}

/* LEFT CARD */
.payment-box {
    width: 40%;
    background: white;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.payment-box h2{
    text-align: center;
    font-weight: bold;
    font-family: "Notable", sans-serif;
    letter-spacing: 2px;
    color: #290849;
}


.title {
    font-size: 26px;
    font-weight: 700;
    color: #2e2b86;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
    font-family: "Kumbh Sans", sans-serif;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: "Kumbh Sans", sans-serif;
}

.payment-methods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 10px;
    font-family: "Kumbh Sans", sans-serif;
}

.method {
    background: #f5f5f5;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.pay-btn {
    margin-top: 25px;
    width: 100%;
    padding: 14px;
    background: #e6b400;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
}

/* RIGHT CARD */
.summary-box {
    width: 30%;
    height: 50%;
    background: white;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.summary-box h2{
    text-align: center;
    font-weight: bold;
    font-family: "Notable", sans-serif;
    letter-spacing: 2px;
    color: #290849;
}

.summary-line {
    width: 100%;
    height: 1px;
    background: #bbb;
    margin: 15px 0;
}

.item span{
    font-family: "Kumbh Sans", sans-serif;
    font-weight: bold;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.item p{
    font-family: "Kumbh Sans", sans-serif;
}

.item.total p {
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
}

.secure {
    margin-top: 20px;
    font-size: 14px;
    color: #444;
    font-family: "Kumbh Sans", sans-serif;
    text-align: center;
}